@model int

@{
    Layout = null;
}


@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Productos LPA</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/shop-homepage.css" rel="stylesheet">
    <style>
        button {
            border: 1px #AAA solid;
            padding: 4px 10px;
        }

        .hide {
            display: none;
        }
    </style>

</head>

<body>
    <button type="button" id="volver" class="btn btn-light">Inicio</button> <!--funcionalidad del botón de inicio.-->
    <script>
        var idProducto = @Model;
        var leyenda = "";
        var btnLeyenda=""
        switch (idProducto) { //si el producto es -99 se agrega el producto, caso contrario, se modifica. 
            case -99:
                leyenda = "Agregar producto";
                btnLeyenda = "Agregar";
                break;
            default:
                leyenda = "Modificar producto";
                btnLeyenda = "Modificar";
        }
    </script>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div id="containerProducto">
                        <form id="formProducto">
                            <fieldset>
                                <legend id="leyendaForm"></legend>
                                <div class="form-group">
                                    <fieldset>
                                        <label class="control-label" for="TituloProducto">Titulo</label>
                                        <input class="form-control" id="TituloProducto" type="text">
                                    </fieldset>
                                </div>
                                <div class="form-group">
                                    <label for="DescripcionTexto">Descripcion</label>
                                    <textarea class="form-control" id="DescripcionTexto" rows="5"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Precio</label>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">$</span>
                                            </div>
                                            <input class="form-control" id="PrecioProducto" aria-label="Precio" type="number">
                                            <div class="input-group-append">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="FotoProducto">File input</label>
                                    <input class="form-control-file" id="FotoProducto" aria-describedby="fileHelp" type="file"  accept="image/*" required>
                                    <small class="form-text text-muted" id="fileHelp"></small>
                                </div>
                                <button id="BtnEnviarDatos" class="btn btn-outline-success" type="button">Enviar</button>
                                <button id="BtnCancelar" class="btn btn-outline-danger" type="button">Cancelar</button>
                            </fieldset>
                            <br />
                        </form>

                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.col-lg-9 -->
        </div>
        <!-- /.row -->
    </div>


    <div class="appButtonDiv" id="appButtonDiv"></div>

    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; LPA 2019</p>
        </div>
    </footer>
    <script src="~/vendor/jquery/jquery.js" type="text/javascript"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>


    <script>
        $(document).ready(function () {
            var host = window.location.origin;
            var apiEndPoint = host + "/api/v1/Productos/";
            var domContainerProductos = document.getElementById("containerProducto") || $("#containerProducto");
            document.getElementById("leyendaForm").innerText = leyenda;
            var btn = document.getElementById("BtnEnviarDatos");
            btn.innerText = btnLeyenda;

            //Si no es agregar busco los datos del productos para editarlos
            if (idProducto !== -99) {
                 $.ajax({
                    url: apiEndPoint+ idProducto,
                    type: 'GET',
                    dataType: 'json',
                    success: function (prod) {
                        var urlImagen = host + prod.productImagePath;
                        var TituloProducto = prod.productName;
                        var PrecioProducto = prod.productPrice;
                        var DescripcionProducto = prod.productDescription;

                        var div = document.createElement("div");
                        div.innerHTML = `<img src="${urlImagen}" alt="" width="50%" height="50%">`;

                        $("#containerProducto").prepend(div);
                        $("#TituloProducto").val(TituloProducto);
                        $("#DescripcionTexto").val(DescripcionProducto);
                        $("#PrecioProducto").val(PrecioProducto);
                    },
                    error: function () {
                        domContainerProductos.innerHTML = "<h1>Error</h1>";
                    }
                });
            }
            

            document.getElementById("volver").onclick = function () {
                window.location  = window.location.origin;

            };

            document.getElementById("BtnCancelar").onclick = function () {
                window.location  = window.location.origin;

            };

            document.getElementById("BtnEnviarDatos").onclick = function () {
                //Validar datos
                var nombre = $("#TituloProducto")
                var precio = $("#PrecioProducto")
                var descripcion = $("#DescripcionTexto")
                var imagen = $("#FotoProducto").get(0).files;

                var formData = new FormData();

                formData.append("titulo", nombre.val());
                formData.append("precio",precio.val() );
                formData.append("descripcion",descripcion.val());
                formData.append("FotoProducto", imagen[0]);

                if (idProducto === -99) {
                    if (imagen.length ===0 ) {
                        alert("No se selecciono un archvivo");
                        return false;
                    }

                    //Enviar agregar
                    $.ajax({
                        url: apiEndPoint,
                        type: 'POST',
                        processData: false,
                        contentType: false,
                        data:formData,
                        success: function () {
                            window.location = window.location.origin;
                        },
                        error: function (e) {
                            alert("error");
                            console.log(e.responseJSON);
                        }
                    });
                }
                else
                {
                    //Enviar update
                    $.ajax({
                        url: apiEndPoint+ idProducto,
                        type: 'PUT',
                         processData: false,
                        contentType: false,
                        data: formData,
                        success: function () {
                            window.location  = window.location.origin;
                        },
                        error: function (e) {
                            alert("error");
                            console.log(e.responseJSON);
                        }
                    });
                }

                
            };
        })
    </script>

</body>

</html>


